<div class="menu-item">
  <div class="menu-image-wrapper">
    <img class="menu-image" src="{{ imageSrc }}" alt="{{ name }}" />
    <button class="add-menu-button" (click)="onButtonClick()" title="Add menu item">
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="currentColor"
          viewBox="0 0 16 12"
        >
          <path
            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
          />
        </svg>
      </span>
    </button>
  </div>
  <div class="menu-details">
    <p class="menu-name">{{ name }}</p>
    <p class="menu-price">{{ price }} ฿</p>
  </div>
</div>
