html {
  font-family: 'Anuphan', sans-serif;
  font-style: normal;
  color: var(--color-core-black);
}

body {
  margin: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 600;
}

.anuphan-100 {
  font-family: 'Anuphan', sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.anuphan-200 {
  font-family: 'Anuphan', sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.anuphan-300 {
  font-family: 'Anuphan', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.anuphan-400 {
  font-family: 'Anuphan', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.anuphan-500 {
  font-family: 'Anuphan', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.anuphan-600 {
  font-family: 'Anuphan', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.anuphan-700 {
  font-family: 'Anuphan', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
